@media print {
       .print-block {
        break-inside: avoid !important;
        page-break-inside: avoid !important;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }
    
       .other-equipments {
        page-break-inside: avoid !important;
        break-inside: avoid !important;

        padding-left: 0 !important;     /* pleine largeur */
        padding-right: 0 !important;
    }

    .other-equipments-textarea {
        width: 100% !important;          /* pleine largeur */
        height: 250mm !important;        /* très grande hauteur */
        min-height: 250mm !important;
        margin: 0 !important;
        padding: 10px !important;
        box-sizing: border-box;
    }

     .no-break {
        page-break-inside: avoid !important;
        break-inside: avoid !important;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }

    /* Protéger les tableaux également */
    table {
        page-break-inside: avoid !important;
        break-inside: avoid !important;
    }
}        
.other-equipments {
  padding-left: 250px;
  padding-top: 10px;


}

.other-equipments-textarea {
  height: 200px;
  width: 500px;
  }

.other-equipments-hse {
  font-style: bold;
  color: red;
  border: #000 1px;
}
